[Unit]
Description=Run debug server

[Service]
ExecStart=$WORKSPACE/python_script_run.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target